@font-face {
    font-family: riesling;
    src: url("./riesling.ttf");
}

html|* > svg {
    transform-origin: 0% 0% 0px;
}

body {
  background-size : 100%;
  background-image: url(./wallstreet.jpg);
  padding-top:0;
  padding-left: 0;
}

div.bar {
  display: inline-block;
  width: 50px;
  background-color: blue;
  margin-right: 1px;
}

#search-form {
  width: 100%;
  height: 100%;
}

.input-layout div{
  width: 80px;
  display: inline-block;
}
