<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Data Visualizing</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body id = "home_body">

<nav>
  <div class="nav-wrapper title_bar title_bard">
    <span class="brand-logo black-text">IT FLOW</span>
  </div>
</nav>
<span id="intro-text">Search the flow of IT field!</span><br>
<form id = "search-form" action="/search" method="post">
    <div class="result">
      <div class="col s12 m6">
        <div class="card hoverable deep-purple lighten-4">
          <div class="card-content black-bold-text">
            <h1><span class="thin">Term</span></h1>
            <h5><span>Begin</span><br></h5>
            <input type="text" name="sYear" placeholder="year"><input type="text" name="sMonth" placeholder="month"><input type="text" name="sDay" placeholder="day"><br>
            <h5><span>End</span><br></h5>
            <input type="text" name="eYear" placeholder="year"><input type="text" name="eMonth" placeholder="month"><input type="text" name="eDay" placeholder="day"><br>
            <input class="waves-effect waves-light btn pink lighten-1" type="submit" value="검색">
          </div>
        </div>
      </div>
    </div>
</form>
</body>
</html>
