<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Data Visualizing</title>
<link rel="stylesheet" type="text/css" href="./style.css">
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="./visualizer.js"></script>
</head>
<body>
  <form action="/login_do?form=login" method="post">
    company:  <input type="text" name="company"><br>
    year:     <input type="text" name="year"><br>
    month:    <input type="text" name="month"><br>
    day:      <input type="text" name="day"><br>
    <input type="submit" value="검색">
  </form>
</body>
</html>
